# Correlation between NVIDIA Stock Price Change and US Unemployment Rate
This project aims to ... <1 paragraph summary>

In [1]:
import os
from dotenv import load_dotenv
from config import fred_api_key, UNRATE_DATASET, SPY_DATASET, NVIDIA_DATASET
from load import get_fred_data, get_stock_data
from analyze import plot_statistics
#from process import process_wiki_data

# FRED Data

In [2]:
# --- FRED Data ---
fred_data = get_fred_data(UNRATE_DATASET, '2000-01-01', '2025-11-01', fred_api_key)
fred_data

--- Extracting data from FRED: UNRATE ---
Extracting UNRATE...

          Date  Value
0   2000-01-01    4.0
1   2000-02-01    4.1
2   2000-03-01    4.0
3   2000-04-01    3.8
4   2000-05-01    4.0
..         ...    ...
303 2025-04-01    4.2
304 2025-05-01    4.2
305 2025-06-01    4.1
306 2025-07-01    4.2
307 2025-08-01    4.3

[308 rows x 2 columns]

In [3]:
plot_statistics(fred_data, 'Unemployment Rate')

--- Plotting statistics for Unemployment Rate ---
Index(['Date'], dtype='object')
Saved histogram for Value
Saved line plot for Date vs Value

# SPY Data

In [3]:
spy_data = get_stock_data(SPY_DATASET, '2000-01-01', '2025-11-01', '1mo', True)
spy_data

--- Loading data from yfinance: SPY ---
Extracting SPY...

[*********************100%***********************]  1 of 1 completed

Price        Date     Close
Ticker                  SPY
0      2000-01-01       NaN
1      2000-02-01 -0.015226
2      2000-03-01  0.094133
3      2000-04-01 -0.032668
4      2000-05-01 -0.015723
..            ...       ...
305    2025-06-01  0.048287
306    2025-07-01  0.026056
307    2025-08-01  0.020520
308    2025-09-01  0.032757
309    2025-10-01  0.026676

[310 rows x 2 columns]

# NVIDIA Data

In [4]:
nvidia_data = get_stock_data(NVIDIA_DATASET, '2000-01-01', '2025-11-01', '1mo', True)
nvidia_data

[*********************100%***********************]  1 of 1 completed

--- Loading data from yfinance: NVDA ---
Extracting NVDA...

Price        Date     Close
Ticker                 NVDA
0      2000-01-01       NaN
1      2000-02-01  0.726799
2      2000-03-01  0.320070
3      2000-04-01  0.054929
4      2000-05-01  0.280503
..            ...       ...
305    2025-06-01  0.169170
306    2025-07-01  0.125909
307    2025-08-01 -0.020746
308    2025-09-01  0.071191
309    2025-10-01  0.085333

[310 rows x 2 columns]